{% extends 'base.html' %}
{% block title %}Cadastrar Usuários{% endblock %}
{% block content %}
    <form action="" method="post" class="p-3">
        {% csrf_token %}
        <div class="flex">
            <div>
                <label for="id_nome">Nome</label>
                <input type="text" name="nome" id="id_nome" class="border" required>
            </div>
            <div>
                <label for="id_email">Email</label>
                <input type="email" name="email" id="id_email" class="border" required>
            </div>
        </div>
        <button type="submit" class="p-2 bg-[#0056b3] rounded mt-2">Cadastrar</button>
    </form>
{% endblock %}