{% extends 'base.html' %}
{% block title %}Cadastro de Usuários {% endblock %}
{% block conteudo %}
    <div>
        <p style="font-size: 30px; padding-left: 20px;">Cadastro de Usuários</p>
    </div>
    <div style="padding: 20px;">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button style="padding: 5px; margin-top: 20px; background-color: #0056b3; color: white; border: 0;" type="submit">Cadastrar</button>
        </form>
    </div>
{% endblock %}