{% extends 'base.html' %}

{% block content %}
<h2>Lista de Cursos</h2>
<form method="get">
    <input type="text" name="nome" placeholder="Nome" value="{{ request.GET.nome }}">
    <input type="text" name="instrutor" placeholder="Instrutor" value="{{ request.GET.instrutor }}">
    <button type="submit">Pesquisar</button>
    <a href="{% url 'lista_cursos' %}">Limpar</a>
</form>

<a href="{% url 'criar_curso' %}">Adicionar Curso</a>
<ul>
    {% for curso in cursos %}
        <li>
            <b>Nome:</b> {{ curso.nome }}
            <b>Instrutor:</b> {{ curso.instrutor }}
            <a href="{% url 'atualiza_curso' curso.pk %}">Editar</a>
            <a href="{% url 'deleta_curso' curso.pk %}">Excluir</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
