<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página inicial{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <nav class="p-4 bg-gray-700 flex justify-between">
        <div>
            <h5 class="text-white text-2xl">Gerenciamento de cursos online</h5>
        </div>
        <div class="flex gap-4">
            <a href="{% url 'lista_alunos' %}" class="text-white">Alunos</a>
            <a href="{% url 'lista_cursos' %}" class="text-white">Cursos</a>
            <a href="{% url 'lista_inscricoes' %}" class="text-white">Inscrições</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="cursor-pointer hover:underline">Sair</button>
            </form>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>