{% extends 'base.html' %}
{% block title %}Lista de Alunos{% endblock %}
{% block content %}
    <div class="flex justify-between">
        <div class="flex gap-4 p-4 mb-6">
            <h5>Lista de Alunos</h5>
            <a href="{% url 'cadastro' %}">Adicionar Aluno</a>
        </div>

        <div class="mt-2">
            <h5>Pesquisar</h5>
            <form action="" method="get">
                <input type="text" name="nome" placeholder="Nome" value="{{ request.GET.nome }}">
                <input type="email" name="email" id="email" placeholder="Email" value="{{ request.GET.email }}">
                <button type="submit">Pesquisar</button>
                <a href="{% url 'lista_alunos' %}">Limpar</a>
            </form>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for a in alunos %}
                <tr>
                    <td class="p-2">{{ a.username }}</td>
                    <td class="p-2">{{ a.email }}</td>
                    <td class="p-2">{{ a.telefone }}</td>
                    <td class="p-2">
                        <a href="{% url 'atualizar_aluno' pk=a.id %}">Editar</a>
                    </td>
                    <td class="p-2">
                        <a href="{% url 'deletar_aluno' pk=a.id %}">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}