<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Página Inicial{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="font-sans">
    <nav class="bg-[#0056b3] p-4">
        <div class="flex justify-between">
            <div>
                <h5 class="text-white text-2xl">Gerenciamento de Tarefas</h5>
            </div>
            <div class="gap-4 flex">
                <a href="{% url 'cadastrar_usuario' %}">Cadastro de Usuários</a>
                <a href="{% url 'cadastrar_tarefas' %}">Cadastro de Tarefas</a>
                <a href="{% url 'lista_tarefas' %}">Gerenciar Tarefas</a>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>