{% extends 'base.html' %}
{% block title %}Lista de Inscrições{% endblock %}
{% block content %}
    <div class="flex justify-between">
        <div class="flex gap-4 p-4 mb-6">
            <h5>Lista de Inscrições</h5>
            <a href="{% url 'criar_inscricao' %}">Adicionar Inscrição</a>
        </div>

        <div class="mt-2">
            <h5>Pesquisar</h5>
            <form action="" method="get">
                <input type="text" name="aluno" placeholder="Aluno" value="{{ request.GET.aluno }}">
                <input type="text" name="curso" id="curso" placeholder="Curso" value="{{ request.GET.curso }}">
                <button type="submit">Pesquisar</button>
                <a href="{% url 'lista_inscricoes' %}">Limpar</a>
            </form>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Curso</th>
                <th>Data de Inscrição</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for a in inscricoes %}
                <tr>
                    <td class="p-2">{{ a.aluno }}</td>
                    <td class="p-2">{{ a.curso }}</td>
                    <td class="p-2">{{ a.data_inscricao }}</td>
                    <td class="p-2">
                        <a href="{% url 'deletar_inscricao' pk=a.id %}">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}