{% extends 'base.html' %}
{% block title %}Lista de Cursos{% endblock %}
{% block content %}
    <div class="flex justify-between">
        <div class="flex gap-4 p-4 mb-6">
            <h5>Lista de Cursos</h5>
            <a href="{% url 'criar_curso' %}">Adicionar Curso</a>
        </div>

        <div class="mt-2">
            <h5>Pesquisar</h5>
            <form action="" method="get">
                <input type="text" name="nome" placeholder="Nome" value="{{ request.GET.nome }}">
                <input type="text" name="instrutor" id="instrutor" placeholder="Instrutor" value="{{ request.GET.instrutor }}">
                <button type="submit">Pesquisar</button>
                <a href="{% url 'lista_cursos' %}">Limpar</a>
            </form>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Carga Horária</th>
                <th>Instrutor</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for a in cursos %}
                <tr>
                    <td class="p-2">{{ a.nome }}</td>
                    <td class="p-2">{{ a.descricao }}</td>
                    <td class="p-2">{{ a.carga_horaria }}</td>
                    <td class="p-2">{{ a.instrutor }}</td>
                    <td class="p-2">
                        <a href="{% url 'atualizar_curso' pk=a.id %}">Editar</a>
                    </td>
                    <td class="p-2">
                        <a href="{% url 'deletar_curso' pk=a.id %}">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}