{% extends 'base.html' %}
{% load static %}
{% block title %}Escola{% endblock %}

{% block content %}

{% if messages %}
    <div class="w-full flex justify-center">
        {% for message in messages %}
            <div class="flex items-center justify-between px-4 py-3 text-white rounded-lg shadow-md
                {% if message.tags == 'error' %}
                    bg-red-600
                {% elif message.tags == 'success' %}
                    bg-green-600
                {% elif message.tags == 'warning' %}
                    bg-yellow-600
                {% else %}
                    bg-blue-600
                {% endif %}">
                <span>{{ message }}</span>
                <button type="button" class="ml-4 text-white hover:text-gray-200" onclick="this.parentElement.remove()">
                    &times;
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}

<div class="bg-white shadow-lg rounded-lg p-8 mx-4 mt-8">
    <h1 class="text-3xl font-extrabold text-center text-gray-800 mb-6">Informações da Escola</h1>
</div>

<div class="flex flex-wrap items-start justify-center gap-10 mt-8">
    <form method="post" enctype="multipart/form-data" class="flex flex-wrap gap-10 w-full justify-center bg-gray-50 p-6 rounded-lg shadow-lg">
        {% csrf_token %}

        <div class="relative group flex flex-col items-center w-full md:w-1/3">
            <h2 class="text-lg font-semibold text-gray-700 mb-2">Foto da Escola</h2>

            <div class="relative">
                <img id="image-preview" src="{% if form.logo.value.url %}{{ form.logo.value.url }}{% else %}{% static 'img/sem_foto.jpeg' %}{% endif %}"
                    alt=""
                    class="w-56 h-56 border-4 border-gray-200 rounded-full object-contain cursor-pointer transform transition duration-300 ease-in-out hover:scale-105"
                    data-full-image="{% if form.logo.value.url %}{{ form.logo.value.url }}{% else %}{% static 'img/sem_foto.jpeg' %}{% endif %}" onclick="expandImage('{{ form.logo.value.url }}')">
                <label for="id_logo"
                    class="absolute bottom-3 right-4 bg-gray-800 text-white p-2 rounded-full shadow-md hover:bg-gray-700 cursor-pointer transition-all ease-in-out duration-300 hover:scale-105">
                    <i data-lucide="camera"></i>
                </label>
                <span class="absolute bottom-3 left-4 bg-gray-800 text-white p-2 rounded-full shadow-md hover:bg-gray-700 cursor-pointer ease-in-out transition-all duration-300 hover:scale-105">
                    <i data-lucide="x" ></i>
                </span>
            </div>

            <input type="file" name="logo" accept="image/*" id="id_logo" class="hidden">
        </div>

        <div class="flex flex-wrap gap-6 justify-center w-full md:w-2/3">
            <div class="flex flex-col space-y-6 w-full md:w-1/2">
                <div>
                    {{ form.nome.label_tag }}
                    {{ form.nome }}
                </div>

                <div>
                    {{ form.telefone.label_tag }}
                    {{ form.telefone }}
                </div>

                <div>
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>

                <div>
                    {{ form.horario_inicio.label_tag }}
                    {{ form.horario_inicio }}
                </div>
                
                <div>
                    {{ form.horario_fim.label_tag }}
                    {{ form.horario_fim }}
                </div>
            </div>

            <div class="flex flex-col space-y-6 w-full md:w-1/2">
                <div>
                    {{ form.cep.label_tag }}
                    {{ form.cep }}
                </div>

                <div>
                    {{ form.cidade.label_tag }}
                    {{ form.cidade }}
                </div>

                <div>
                    {{ form.estado.label_tag }}
                    {{ form.estado }}
                </div>

                <div>
                    {{ form.bairro.label_tag }}
                    {{ form.bairro }}
                </div>

                <div>
                    {{ form.endereco.label_tag }}
                    {{ form.endereco }}
                </div>
            </div>
        </div>

        <div class="w-full flex justify-center mt-8">
            <button type="submit" id="btns"
                class="flex items-center gap-3 bg-green-600 hover:bg-green-700 text-white font-bold py-3 px-6 rounded-lg text-lg transition duration-300 ease-in-out transform hover:scale-105">
                <i data-lucide="check"></i>
                <span>Salvar</span>
            </button>
        </div>
    </form>
</div>

<div id="imageModal" class="fixed inset-0 bg-opacity-75 flex items-center justify-center z-50 hidden backdrop-blur-sm">
    <div class="relative bg-white p-4 rounded-lg shadow-xl">
        <img id="modalImage" class="max-w-[90vw] max-h-[90vh] rounded-lg shadow-md" />
        <button onclick="closeImageModal()" class="absolute top-4 right-4 text-white bg-gray-800 rounded-full p-2 shadow-md hover:bg-gray-700">
            <i data-lucide="x"></i>
        </button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const removeButton = document.querySelector('.absolute.bottom-3.left-4');
        const imagePreview = document.getElementById('image-preview');
        const logoInput = document.getElementById('id_logo');

        if (removeButton && imagePreview && logoInput) {
            removeButton.addEventListener('click', function(e) {
                e.preventDefault();
                imagePreview.src = "{% static 'img/sem_foto.jpeg' %}";
                imagePreview.dataset.fullImage = "{% static 'img/sem_foto.jpeg' %}";
                logoInput.value = '';
            });
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const logoInput = document.getElementById('id_logo');
        const imagePreview = document.getElementById('image-preview');

        if (logoInput && imagePreview) {
            logoInput.addEventListener('change', function () {
                if (this.files && this.files[0]) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        imagePreview.src = e.target.result;
                        imagePreview.dataset.fullImage = e.target.result;
                    }

                    reader.readAsDataURL(this.files[0]);
                }
            });

            document.querySelector('form').addEventListener('submit', function (e) {
                if (!logoInput.files.length && !imagePreview.src.includes('img/sem_foto.jpeg')) {
                    const hiddenInput = document.createElement('input');
                    hiddenInput.type = 'hidden';
                    hiddenInput.name = 'logo';
                    hiddenInput.value = '{{ form.logo.value|default:"" }}';
                    this.appendChild(hiddenInput);
                }
            });
        }
    });
</script>

<script>
    function expandImage(src) {
        document.getElementById('modalImage').src = src;
        document.getElementById('imageModal').classList.remove('hidden');
        document.body.style.overflow = 'hidden';
    }

    function closeImageModal() {
        document.getElementById('imageModal').classList.add('hidden');
        document.body.style.overflow = '';
    }

    document.querySelectorAll('.expandable-image').forEach(img => {
        img.addEventListener('click', () => {
            expandImage(img.dataset.fullImage);
        });
    });

    document.getElementById('id_cep').addEventListener('input', async function (e) {
        this.value = formatarCEP(this.value);

        const cep = this.value.replace(/\D/g, '');
        if (cep.length === 8) {
            await buscarCEP(this);
        }
        else if (cep.length < 8){
            document.getElementById('#btns').classList.add('hidden')
        }
    });

    function formatarCEP(value) {
        let cep = value.replace(/\D/g, '');
        if (cep.length > 5) {
            cep = cep.substring(0, 5) + '-' + cep.substring(5, 8);
        }
        return cep;
    }

    async function buscarCEP(input) {
        const cep = input.value.replace(/\D/g, '');

        if (input.dataset.loading === 'true') return;

        input.dataset.loading = 'true'; 
        const loadingElement = document.createElement('span');
        loadingElement.textContent = 'Buscando...';
        loadingElement.className = 'text-sm text-gray-500 ml-2';
        input.parentNode.appendChild(loadingElement);

        try {
            const response = await fetch(`https://viacep.com.br/ws/${cep}/json/`);
            const data = await response.json();

            if (data.erro) {
                throw new Error('CEP não encontrado');
            }

            document.getElementById('id_cidade').value = data.localidade || '';
            document.getElementById('id_estado').value = data.uf || '';


        } catch (error) {
            console.error('Erro ao buscar CEP:', error);
            alert('CEP não encontrado. Por favor, verifique o número e tente novamente.');
        } finally {
            input.dataset.loading = 'false';
            if (loadingElement.parentNode) {
                loadingElement.remove();
            }
        }
    }
</script>

{% endblock %}
