
{% block content %}
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Usuário</label>
        <input type="text" name="username" required>

        <label for="password">Senha</label>
        <input type="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>
    <p>Ainda não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a></p>

    {% if messages %}
        {% for message in messages %}
            <p></p>
            <div style="color: red;">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
