{% extends 'base.html' %}

{% block content %}
<h2>Lista de Alunos</h2>

<form method="get">
    <input type="text" name="nome" placeholder="Nome" value="{{ request.GET.nome }}">
    <input type="email" name="email" placeholder="Email" value="{{ request.GET.email }}">
    <button type="submit">Pesquisar</button>
    <a href="{% url 'lista_alunos' %}">Limpar</a>
</form>
<ul>
    {% for aluno in alunos %}
        <li>
            <b>Nome:</b> {{ aluno.nome }}
            <b>Email:</b> {{ aluno.email }}
            <a href="{% url 'atualiza_aluno' aluno.pk %}">Editar</a>
            <a href="{% url 'deleta_aluno' aluno.pk %}">Excluir</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
