<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>{% block title %}Página Inicial{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.min.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
</head>

<body class="h-screen bg-gray-100">
    <div class="h-full flex flex-col relative">
        <nav class="bg-gray-800 text-white p-4 flex items-center justify-between">
            <div class="relative flex ml-auto justify-items-end cursor-pointer" onclick="toggleDropdown(event)">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/SENAI_logo_2024.png"
                    class="inline-flex w-14 h-14 rounded-full object-contain p-1 shadow-md cursor-pointer"
                    alt="Imagem da Escola">
                <i data-lucide="chevron-down" width="12px" height="12px"
                    class="absolute right-1 bottom-0 bg-white text-black rounded-full shadow-md"></i>
                <div id="dropdown"
                    class="hidden absolute right-0 top-16 mt-2 w-64 bg-white border rounded-lg shadow-lg z-10">
                    <ul class="py-2 text-gray-700">
                        <a href="{% url 'informacoes_escola' %}" class="flex px-4 py-3 m-2 rounded-lg items-center gap-4 hover:bg-gray-300 transition-all">
                            {% if escola_item %}
                                <img src="{{ escola_item.logo.url }}" class="inline-flex w-14 h-14 rounded-full object-contain p-1 shadow-md cursor-pointer" alt="Imagem da Escola">
                                <div class="text-medium truncate">
                                    {{ escola_item.nome }}
                                </div>
                            {% endif %}
                            </a>
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-200">Suporte</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-200">Ajuda</a></li>
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="w-full text-left px-4 py-2 hover:bg-gray-200 cursor-pointer">Sair</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="flex flex-1">
            <aside class="w-56 bg-gray-200 p-4 text-gray-900">
                <ul class="overflow-y-auto space-y-2">
                    <li>
                        <a href="{% url 'index' %}" class="flex items-center gap-2 p-3 rounded-lg cursor-pointer hover:bg-gray-700 hover:text-white transition-all">
                            <i data-lucide="library" class="duration-700 transition-all"></i>
                            <span class="flex-1 ms-2 whitespace-nowrap">Início</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'lista_laboratorios' %}" class="flex items-center gap-2 p-3 rounded-lg cursor-pointer hover:bg-gray-700 hover:text-white transition-all">
                            <i data-lucide="boxes" class="duration-700 transition-all"></i>
                            <span class="flex-1 ms-2 whitespace-nowrap">Laboratórios</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'agenda' %}" class="flex items-center gap-2 p-3 rounded-lg cursor-pointer hover:bg-gray-700 hover:text-white transition-all">
                            <i data-lucide="calendar" class="duration-700 transition-all"></i>
                            <span class="flex-1 ms-2 whitespace-nowrap">Agenda</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'historico' %}" class="flex items-center gap-2 p-3 rounded-lg cursor-pointer hover:bg-gray-700 hover:text-white transition-all">
                            <i data-lucide="clipboard" class="duration-700 transition-all"></i>
                            <span class="flex-1 ms-2 whitespace-nowrap">Histórico</span>
                        </a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <button type="button" class="flex items-center w-full p-2 text-base font-normal text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100" aria-controls="admin_dropdown" data-collapse-toggle="admin_dropdown">
                                <i data-lucide="shield-user" class="duration-700 transition-all"></i>
                                <span class="flex-1 ml-3 text-left whitespace-nowrap" sidebar-toggle-item>Área Administrativa</span>
                                <i data-lucide="chevron-down"></i>
                            </button>
                            <ul id="admin_dropdown" class="hidden py-2 space-y-2 overflow-y-auto">
                                <li>
                                    <a href="{% url 'escola' %}">Escola</a>
                                </li>
                                <li>
                                    <a href="{% url 'admin_lista_laboratorios' %}" class="whitespace-nowrap">Laboratórios e salas de aula</a>
                                </li>
                                <li>
                                    <a href="{% url 'lista_usuarios' %}">Professores</a>
                                </li>
                                <li>
                                    <a href="{% url 'historico_admin' %}">Histórico de Uso</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <div class="border-b-1 flex text-center"></div>
                    <li>
                        <img src="{% static 'img/logo.png' %}" alt="">
                    </li>
                </ul>
            </aside>
            <main class="flex-1 p-6 overflow-y-auto">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <script>
        // Função para mostrar/ocultar o dropdown
        function toggleDropdown(event) {
            event.stopPropagation();  // Impede o fechamento ao clicar no próprio botão
            document.getElementById("dropdown").classList.toggle("hidden");
        }

        // Fecha o dropdown ao clicar fora
        document.addEventListener("click", function (event) {
            const dropdown = document.getElementById("dropdown");
            const trigger = document.querySelector(".flex.gap-4");

            if (!trigger.contains(event.target) && !dropdown.contains(event.target)) {
                dropdown.classList.add("hidden");
            }
        });
    </script>

    <script>
        // Manipulação do histórico
        if(window.location.pathname === "{% url 'login' %}" && "{{ request.user.is_authenticated }}" === "True") {
            history.replaceState(null, "", "{% url 'index' %}");
        }
        
        // Bloqueio do botão Voltar quando logado
        window.addEventListener('popstate', function(event) {
            if("{{ request.user.is_authenticated }}" === "True" && 
                event.state && 
                event.state.previousUrl === "{% url 'login' %}") {
                    history.go(1);
            }
        });
    </script>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
    
        
</body>

</html>