{% extends 'base.html' %}
{% block title %}Histórico{% endblock %}
{% block content %}

<h1 class="font-bold text-xl">Histórico de reservas</h1>
<table id="tabela_historico">
    <thead>
        <tr>
            <th>Data</th>
            <th>Ação</th>
            <th>Laboratório</th>
            <th>Usuário</th>
            <th>Início da Reserva</th>
            <th>Fim da Reserva</th>
        </tr>
    </thead>
    <tbody>
        {% for h in historico %}
            <tr>
                <td>{{ h.history_date|date:"d/m/Y H:i:s" }}</td>
                <td>
                    {% if h.history_type == "+" %}
                        Reservou
                    {% elif h.history_type == "~" %}
                        Alterou a reserva
                    {% elif h.history_type == "-" %}
                        Cancelou a reserva
                    {% endif %}
                </td>
                <td>{{ h.laboratorio.lab_nome }}</td>
                <td>{{ h.professor.username }}</td>
                <td>{{ h.res_inicio }}</td>
                <td>{{ h.res_fim }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var table = $("#tabela_historico").DataTable({
            language: {
                search: "Filtrar:",
                info: "Exibindo _START_ a _END_ de _TOTAL_ resultados",
                lengthMenu: "Mostrar _MENU_ resultados por página",
                zeroRecords: "Nenhuma reserva encontrada.",
                infoEmpty: 'Sem resultados',
                infoFiltered: "(filtrado de _MAX_ resultados totais)",
                emptyTable: 'Nenhuma reserva encontrada.',
                paginate: {
                    first: "Primeiro",
                    last: "Último",
                    next: "Próximo",
                    previous: "Anterior"
                }
            },
        });
    })
</script>
{% endblock %}