{% extends 'base.html' %}
{% load static %}
{% block title %}Início{% endblock %}
{% block content %}
    <div class="text-2xl font-medium text-center">
        Seja Bem Vindo, Usuário
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6 px-6">
        <div class="bg-gray-800 border border-gray-200 rounded-lg shadow-sm">
            <a href="#">
                <img src="{% static 'img/sala_aula.jpeg' %}" alt="" 
                    class="rounded-t-lg w-full h-52">
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Deseja reservar um labóratorio?</h5>
                    <p class="mb-3 font-normal text-gray-400">Clique aqui para reservar um labóratorio o mais rapido
                        possível!</p>
                </div>
            </a>
        </div>

        <div class=" bg-gray-800 border border-gray-200 rounded-lg shadow-sm">
            <a href="#">
                <img src="{% static 'img/agenda.jpeg' %}" alt=""
                    class="rounded-t-lg w-full h-52">
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Que tal dar uma olhadinha no
                        cronograma?</h5>
                    <p class="mb-3 font-normal text-gray-400">Clique aqui para ver a agenda em tempo real!</p>
                </div>
            </a>
        </div>

        <div class=" bg-gray-800 border border-gray-200 rounded-lg shadow-sm">
            <a href="#">
                <img src="{% static 'img/relatorio_img.jpg' %}" alt="" 
                    class="rounded-t-lg w-full h-52">
                <div class="p-5">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Deseja analisar um Relatório?</h5>
                    <p class="mb-3 font-normal text-gray-400">Clique aqui para acessar os relatórios!</p>
                </div>
            </a>
        </div>
    </div>
{% endblock %}