{% extends 'base.html' %}
{% block title %}Lista de Tarefas{% endblock %}
{% block content %}
<div class="p-4">
    <h1 class="text-2xl font-bold mb-4">Tarefas</h1>
    <div class="grid grid-cols-3 gap-4">
        <div>
            <h1>A fazer</h1>
            <div class="space-y-6">
                {% for t in tarefas %}
                    {% if t.status == 'A fazer' %}
                        <div class="bg-gray-200 rounded-sm shadow-md">
                            <p>Descrição: <strong>{{ t.descricao }}</strong></p>
                            <p>Setor: <strong>{{ t.nome_setor }}</strong></p>
                            <p>Prioridade: <strong>{{ t.prioridade }}</strong></p>
                            <p>Vinculo a: <strong>{{ t.usuarios }}</strong></p>
                            <div>
                                <form action="{% url 'atualiza_status' t.id %}" method="post">
                                    {% csrf_token %}
                                    <select name="novo_status" onchange="this.form.submit()" id="novo_status">
                                        <option value="">Escolha o status</option>
                                        <option value="Fazendo">Fazendo</option>
                                        <option value="Pronto">Pronto</option>
                                    </select>
                                </form>
                            </div>
                            <div>
                                <a href="{% url 'atualizar_tarefa' t.id %}">Editar</a>
                                <a href="{% url 'deletar_tarefa' t.id %}">Excluir</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        <div class="">
            <h1>Fazendo</h1>
            <div class="space-y-6">
                {% for t in tarefas %}
                    {% if t.status == 'Fazendo' %}
                        <div class="bg-gray-200 rounded-sm">
                            <p>Descrição: <strong>{{ t.descricao }}</strong></p>
                            <p>Setor: <strong>{{ t.nome_setor }}</strong></p>
                            <p>Prioridade: <strong>{{ t.prioridade }}</strong></p>
                            <p>Vinculo a: <strong>{{ t.usuarios }}</strong></p>
                            <div>
                                <form action="{% url 'atualiza_status' t.id %}" method="post">
                                    {% csrf_token %}
                                    <select name="novo_status" onchange="this.form.submit()" id="novo_status">
                                        <option value="">Escolha o status</option>
                                        <option value="A fazer">A fazer</option>
                                        <option value="Pronto">Pronto</option>
                                    </select>
                                </form>
                            </div>
                            <div>
                                <a href="{% url 'atualizar_tarefa' t.id %}">Editar</a>
                                <a href="{% url 'deletar_tarefa' t.id %}">Excluir</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="">
            <h1>Pronto</h1>
            <div class="space-y-6">
                {% for t in tarefas %}
                    {% if t.status == 'Pronto' %}
                        <div class="bg-gray-200 rounded-sm">
                            <p>Descrição: <strong>{{ t.descricao }}</strong></p>
                            <p>Setor: <strong>{{ t.nome_setor }}</strong></p>
                            <p>Prioridade: <strong>{{ t.prioridade }}</strong></p>
                            <p>Vinculo a: <strong>{{ t.usuarios }}</strong></p>
                            <div>
                                <form action="{% url 'atualiza_status' t.id %}" method="post">
                                    {% csrf_token %}
                                    <select name="novo_status" onchange="this.form.submit()" id="novo_status">
                                        <option value="">Escolha o status</option>
                                        <option value="A fazer">A fazer</option>
                                        <option value="Fazendo">Fazendo</option>
                                    </select>
                                </form>
                            </div>
                            <div>
                                <a href="{% url 'atualizar_tarefa' t.id %}">Editar</a>
                                <a href="{% url 'deletar_tarefa' t.id %}">Excluir</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>  
</div>

{% endblock %}